* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Error message css */
label.error{
  color: #f44336;
}

/* Notification css */
.alert {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
.alert.danger {background-color: #f44336;}

label {
  order: 3;
} 

label .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    order: 3;
}

.closebtn:hover {
  color: black;
}

input#closeMessage:checked + div.alert {
  opacity: 0;
  display: none;
  transition: opacity .5s linear;
}

form .alert {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  width: 100%;
}

form .login-tiltle {
  position: absolute;
  top: calc(0% - 65px);
  font-size: 30px;
  left: 0;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}